body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    height: 75px;
}

header :first-child {
    flex-grow: 1;
    background-color: red;
}

header a:not(:first-child) {
    width: 200px;
    border: 1px solid;
    font-size: x-large;
}