:root {
    --light-pop-color: #1622ff;
    --light-pop-color-hover: #1900ff;
    --light-theme-background: #efefef;
    --light-theme-text: #2f2e3b;

    --dark-pop-color: #00FA7D;
    --dark-pop-color-hover: #5ae49f;
    --dark-theme-background: #00091a;
    --dark-theme-text: #ffffff;

    --menu-background: #0a0a0a;
    --menu-text: #ffffff;

    --content-width: 1500px;
    --menu-indent: 15px;

    --paragraph-margin-bottom: 1.5rem;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

html {
    background-color: var(--dark-theme-background);
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* replace with :heading once available */
h1:has(+ p),
h2:has(+ p),
h3:has(+ p),
h4:has(+ p),
h5:has(+ p),
h6:has(+ p) {
    margin-block: 0.1rem;
}

:where(h1, section h1, article h1, nav h1, aside h1) {
    font-size: 2em;
    margin-block: 0.67em;
}

p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-block-end: var(--paragraph-margin-bottom);
    margin-block-start: 0rem;
}

header {
    padding-inline: min(10px, 100% - 2rem);
    padding-block: 15px;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--dark-theme-background);
    max-width: min(var(--content-width), 100% - 2rem);
    margin-inline: auto;

    a {
        color: var(--menu-text);
        text-decoration: none;
    }

    ul {
        padding-inline-start: 0;
    }

    @media (max-width: 975px) {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    input[type="checkbox"],
    label {
        display: none;
    }
}

#home {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    list-style-type: none;

    a {
        font-size: xx-large;
    }

    #firstName {
        font-weight: 900;
    }
}

#mainLinks {
    display: flex;
    flex-direction: row;

    li {
        width: 200px;
        font-size: large;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    a {

        >.linkText {
            position: relative;
        }

        /* modified from https://www.30secondsofcode.org/css/s/hover-underline-animation/ */
        >.linkText::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: -7px;
            left: 0;
            background-color: var(--dark-pop-color);
            transition: transform 0.25s ease-out;
        }

        &:hover {
            >.linkText::after {
                transform: scaleX(1);
                transform-origin: bottom center;
            }
        }

        &:active {
            >.linkText::after {
                color: var(--dark-pop-color);
                transform: scaleX(0.25);
            }
        }
    }
}

@media (max-width: 600px) {
    header nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        label {
            display: block;
            font-size: large;
            margin-inline: var(--menu-indent);
            padding: .25rem;
            user-select: none;
            -webkit-user-select: none;
            border-radius: .25rem;
            border: 1px solid var(--menu-text);
            color: var(--menu-text)
        }
    }

    input[type="checkbox"]:not(:checked)+#mainLinks {
        display: none;
    }

    #mainLinks {
        position: fixed;
        top: 60px;
        right: var(--menu-indent);
        flex-direction: column;
        background-color: var(--dark-theme-background);
        padding-inline: 1rem;
        padding-block: .5rem;
        border-radius: .15rem;
        border: 1px solid var(--menu-text);

        li {
            width: auto;
            text-align: left;
            padding-block: .5rem;
        }
    }
}

main {
    background-color: var(--dark-theme-background);
    color: var(--dark-theme-text);

    padding-block: .1em;
    padding-inline: min(10px, 100% - 2rem);

    div.home {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @media (max-width: 950px) {
            flex-wrap: wrap;
        }

        min-height: 80vh;

        img {
            border-radius: 1em;

            @media (max-width: 1500px) {
                max-width: 250px;
            }
        }

        section.resume {
            margin-inline: 2rem;
            max-width: 1050px;
        }
    }

    div.mainContent {
        max-width: min(var(--content-width), 100% - 2rem);
        margin-inline: auto;
    }

    a {
        color: var(--dark-pop-color);

        &:hover {
            text-decoration: none;
        }

        &:active {
            color: var(--dark-pop-color-hover);
        }
    }
}

footer {
    background-color: var(--menu-background);
    color: var(--menu-text);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    padding-inline: 20px;

    p {
        margin-block: 20px;
    }

    border-top: 1px solid #aaa;
}

.highlightPhoto {
    margin-inline: auto;
    display: block;
    margin-block-end: var(--paragraph-margin-bottom);
    max-width: 100%;
    height: auto;
    border-radius: .25rem;
}